<!DOCTYPE html>

<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Flaskr - </title>

  <link rel="stylesheet" href="{{ url_for('static',
        filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{
        url_for('static', filename='css/foundation.css') }}">

  <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js')}}"></script>
</head>

<body>
  <div class="row">
    <div class="large-10 columns">
      <h1>Flaskr</h1>
      <hr />
    </div>
    <div class="large-2 columns">
      <div class=metanav>
  {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
  {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
      </div>
    </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}

  </div>

  {% block body %}{% endblock %}

  <script src="{{ url_for('static',
  filename='js/vendor/-jquery.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/vendor/zepto.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/foundation.min.js')}}"></script>
  <!--

  <script src="{{ url_for('static',
  filename='js/foundation/foundation.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/foundation/foundation.alerts.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/foundation/foundation.clearing.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/foundation/foundation.cookie.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/foundation/foundation.dropdown.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/foundation/foundation.forms.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/foundation/foundation.joyride.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/foundation/foundation.magellan.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/foundation/foundation.orbit.js')}}"></script>

  <script  src="{{ url_for('static',
  filename='js/foundation/foundation.placeholder.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/foundation/foundation.reveal.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/foundation/foundation.section.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/foundation/foundation.tooltips.js')}}"></script>

  <script src="{{ url_for('static',
  filename='js/foundation/foundation.topbar.js')}}"></script>

  -->

  <script> $(document).foundation(); </script>

</body> </html>